

<main>
    {{!-- foumulario --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/editar" method="post" enctype="multipart/form-data">
                    <img src="../imagens/{{cliente.imagem}}">
                    <input type="hidden" name="nomeImagem" value="{{cliente.imagem}}">
                    <input type="hidden" name="id" value = "{{cliente.id}}">
                    <input type="text" name="nome" value = "{{cliente.nome}}" class="form-control" placeholder="Nome">
                    <input type="email" name = "email" value ="{{cliente.email}}" class="form-control" placeholder="Email">
                    <input type="number" name = "telefone"  value ="{{cliente.telefone}}" class="form-control"  placeholder="Telefone">
                     <input type="text" name="afinidade"  value ="{{cliente.afinidade}}" class="form-control" placeholder="Afinidade">
                     <input type="file" name = "imagem" class="form-control" >
                    <input type="submit" class="btn btn-primary" value="Alterar"> 
                    <a href="/" class="btn btn-secondary">Cancelar</a>

                </form>
            </div>        
        </div>       
    </div>
    


</main>